<!-- <h1>Products</h1> -->
<hr>
<div class="d-flex justify-content-between p-2 align-items-center mt-4">
	<h4>Danh sách sản phẩm</h4>
	<button type="button" class="btn btn-primary toggle-modal" data-bs-toggle="modal" data-bs-target="#modalAddNewProduct">
		Thêm sản phẩm mới +
	</button>
</div>
<!-- Button trigger modal create new product -->


<!-- display all product -->

<section class="product-group p-5 row row-cols-2 gap-2">

</section>

<!-- Modal -->
<div class="modal fade" id="modalAddNewProduct" tabindex="-1" aria-labelledby="modalAddNewProductLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalAddNewProductLabel">Product editor</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- form edit product -->
				<form>
					<div class="mb-3">
						<label for="photo" class="form-label">Product Photo</label>
						<input type="url" class="form-control" id="photo">
					</div>
					<div class="mb-3">
						<label for="name" class="form-label">Product name</label>
						<input type="text" class="form-control" id="name">
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Description</label>
						<input type="text" class="form-control" id="description">
					</div>
					<div class="mb-3">
						<label for="price" class="form-label">Price</label>
						<input type="number" class="form-control" id="price">
					</div>
					<div class="mb-3">
						<label for="count" class="form-label">Count</label>
						<input type="number" class="form-control" id="count">
					</div>
					<div class="mb-3">
						<label for="catsId" class="form-label">Category</label>
						<select class="form-select" aria-label="Default select example" id="catsId">
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

				</form>
				<!-- end -->
			</div>
		</div>
	</div>
</div>

<script>
	var select_catsId = document.getElementById('catsId');
	var listCats = []
	var listProducts = []
	currentId = null;
	const getListCats = () => {
		fetch('cats')
			.then(res => res.json())
			.then(res => {
				listCats = res.cats
				setlistCats(listCats)
			})
	}

	const setlistCats = cats => {
		cats.forEach(e => {
			var option = document.createElement('option');
			option.innerText = e.name;
			option.value = e._id;
			option.name = 'catsId'
			select_catsId.appendChild(option)
		});
	}

	getListCats();
	var input_photo = document.getElementById('photo')
	var input_name = document.getElementById('name')
	var input_description = document.getElementById('description')
	var input_price = document.getElementById('price')
	var input_count = document.getElementById('count')
	var btnToggleModal = document.querySelector('button.toggle-modal');

	const setEditor = id => {
		currentId = id

		listProducts.forEach((e, i) => {

			if (e._id == currentId) {
				console.log(e);
				input_photo.value = e.photo;
				input_name.value = e.name;
				input_description.value = e.description;
				input_price.value = e.price
				input_count.value = e.count
				select_catsId.value = e.catsId
				return;
			}
		})
		btnToggleModal.click();

	}

	fetch('product')
		.then(res => res.json())
		.then(res => {
			listProducts = res.products
			var html = res.products.map((pro, index) => {
				var type = null;
				listCats.forEach((e, i) => {
					if (e._id == pro.catsId) {
						type = e.name;
						return
					}
				})

				return `
                <div class="card col" style="width: 18rem;">
                    <img src="${pro.photo}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">${pro.name}</h5>
                        <p class="card-text">${pro.description}</p>
                        <div><b>price: </b>${pro.price} VND</div>
                        <div><b>type: </b>${type}</div>
                        <div class="mb-3"><b>count: </b>${pro.count}</div>
                        <button class="btn btn-primary" onclick="setEditor('${pro._id}')">Edit</button>
                        <button class="btn btn-danger" onclick="confirmDelete('${pro._id}')">Delete</button>
                    </div>
                </div>
                `
			}).join('')

			document.querySelector('.product-group').innerHTML = html
		})
</script>

</script>
<script>
	const confirmDelete = id => {
		if (confirm('You sure for delete this product?')) {
			fetch('product/delete/' + id, {
				method: 'DELETE'
			}).then(res => res.json()).then(res => {
				if (!res.ok) {
					alert('Failed to delete ' + res.msg)
					return
				}
				window.location.reload();
			})
		}
	}


	const modalAddNewProduct = document.getElementById('modalAddNewProduct')
	if (modalAddNewProduct) {
		var form = modalAddNewProduct.querySelector('form');

		modalAddNewProduct.addEventListener('hide.bs.modal', event => {
			form.reset()
		})
		modalAddNewProduct.addEventListener('show.bs.modal', event => {
			const button = event.relatedTarget;


			form.onsubmit = e => {
				e.preventDefault();

				var product = {
					_id: currentId,
					photo: input_photo.value,
					name: input_name.value,
					description: input_description.value,
					price: input_price.value,
					count: input_count.value,
					catsId: select_catsId.value
				}
				currentId || delete product._id


				fetch(currentId ? 'product/update' : 'product/create', {
						method: currentId ? 'PUT' : 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(product)
					})
					.then(res => res.json())
					.then(res => {
						if (!res.ok) {
							alert(res.msg)
							return
						}
						window.location.reload();
					})

			}


		})
	}
</script>